.container {
  margin: 0 auto;
  width: 768px;

}
.top-nav{
  background-color: #000000;
   z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.f-nav{
  background-color: rgba(45, 45, 45, 0.81);
}
.top-nav .container nav img{
  float: left;
}
.top-nav .container nav ul{
  float:right;
}
.top-nav .container nav ul li{
  list-style-type: none;
  display: inline-block;
  margin: 0 2em;
}
.top-nav .container nav ul li a{
  text-decoration: none;
  color: #FFFFFF;
}
.top-nav .container nav ul li a:hover{
  color: yellow;
}

